body {
    padding-top: 50px;
    padding-bottom: 0px;
}

p {
    font-size: 20px;
}

strong {
    font-size: 18px;
}


/*a.hideAdditionalBtn {
    display: none !important;
}*/

pre, code {
    white-space: pre-line;
}

.jumbotron {
    margin-top: 20px;
}

.breadcrumbs {
    background-color: #f0f0f0;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
}